{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}" type="text/css">
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom box-shadow" style="margin-bottom:0px"> 
                <h3 class="my-0 mr-md-auto font-weight-normal">Alpha Tech Academy</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                        <a href="{% url 'Home'%}" id="nav-color"><li= class="listnav" style="margin-left:10px;">HOME</li=></a>
                        <a href="{% url 'Blog'%}"><li= class="listnav" style="margin-left:10px;">BLOG</li=></a>
                        <a href="{% url 'Mentor'%}"><li= class="listnav" style="margin-left:10px;">MENTOR</li=></a>
                        <a href="{% url 'Mentee'%}"><li= class="listnav" style="margin-left:10px;">MENTEE</li=></a>
                        <a href="{% url 'Author'%}"><li= class="listnav" style="margin-left:10px;">AUTHOR</li=></a>
                </nav>  
        </div>
        <div class="banner">
            <img class="profile" src="{% static 'images/alpha-logo.png' %}">
            <p class="title_header">Alphatech Academy</p>  
            <p class="content_header">
                Alphatech Academy is a tech talent incubator that gives everyone (even non-IT
                background) a chance to be a professional Tech Talent within 3 months. 
            </p>
            <p class="contact_header">Contact Person:</p>
            <p class="contact_header">Email: academy@alphatech.id</p>
            <p class="contact_header">Mobile Phone: 0877 9609 9530</p>
        </div>
    </header>
    <!-- Baris pertama: Komputer -->
    <div class="container" style="margin-left:30px; margin-right:30px; padding-left: 100px; padding-right: 100px; margin-bottom:150px;">
            <div class="row" style="margin-left: 30px;margin-right: 30px; padding-left: 100px; padding-right: 100px;">
                    <div class="col-3">
                <img class="displaypicturesmall" src="{% static 'images/benefit.png' %}">
            </div>
            <div class="col-9"; style="margin-top:90px;text-align: left;">
                <h1>Learn Awesome Tech</h1>
                <p> You will learn You will learn about programming language, 
                    such as Python and Javascript, 
                    build back-end apps using Flask framework with microservice concept, 
                    build client-site apps using React Library, etc.</p>
            </div>
    </div>
    
    <!-- Baris kedua: Cermin Orang -->
    <div class="row" style="margin-left: 30px;margin-right: 30px; padding-left: 100px; padding-right: 100px;">
            <div class="col-3">
                <img class="displaypicturesmall" src="{% static 'images/search-job.png' %}">
            </div>
            <div class="col-9"; style="margin-top:90px;text-align: left;">
                <h1>Land New Job</h1>
                <p class="deskrip-15"> If you can pass this awesome program, 
                    you will be part of our reliable tech team for especially 
                    Software Engineer position and other tech position 
                    such as Quality Engineer, System Analyst, etc.</p>
            </div>
    </div>
    <!-- Baris ketiga: Uang -->
    <div class="row" style="margin-left: 30px;margin-right: 30px; padding-left: 100px; padding-right: 100px;">
            <div class="col-3">
                <img class="displaypicturesmall" src="{% static 'images/get-paid.png' %}">
            </div>
            <div class="col-9"; style="margin-top:90px;text-align: left;">
                <h1>Get paid to learn</h1>
                <p class="deskrip-15"> Join for free and earn some money. 
                    Yes you read that right, no registration fee required to enter this program. 
                    To make things even better, you will receive pocket money just for participating. 
                     Cool, right?</p>
            </div>
    </div>

    <!-- Baris keempat: Kerja Komputer -->
    <div class="row" style="margin-left: 30px;margin-right: 30px; padding-left: 100px; padding-right: 100px;">
            <div class="col-3">
                <img class="displaypicturebig" src="{% static 'images/mission.png' %}">
            </div>
            <div class="col-9"; style="margin-top:90px;text-align: left;">
                <h1>Who are we?</h1>
                <p class="deskrip-15"> Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn 
                    within 3 months of being a professional Tech Talent. </p>
                <h1>What is our mission?</h1>
                <p class="deskrip-15"> We want to improve capability 
                    Tech Talent in Indonesia</p>
            </div>
    </div>
</div>
       <div style="text-align: center;font-size: 30px;"> What will you learn?</div> 

       <footer1>
        <div class="bannerfooter1">
            <div class="container" style="margin: auto">
                    <div style="text-align: center;padding-left:200px;padding-right:200px;">
            <div class="gambar" >
                Our Product:
            </div>
            <div class="gambar">
                <img src="{% static 'images/logo-grey-alphapay.png' %}">
            </div>
            <div class="gambar">    
                <img src="{% static 'images/logo-grey-sepulsa.png' %}">
            </div>
            <div class="gambar">
                <img src="{% static 'images/logo-grey-alphabill.png' %}">
            </div>
        </div>
        </div>
        
    </div>
</footer1>
<footer2>
        <div class="bannerfooter2">
            <div class="contentfooter2">Contact Person: 
                Mobile Phone: 0877 9609 9530 
                Email: <a href="">academy@alphatech.id</a></div> 
        </div>
</footer2>









    </body>
</html>